body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-family: 'Lobster', cursive;
	text-align: center;
	color: #242424;
}

.title {
	flex: 0 0 auto;
	font-size: 3.2rem;
	margin: 20px 0;
}

.game-grid {
	flex: 1;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(3, 20vh);
  	grid-template-rows: repeat(3, 20vh);
	grid-gap: 2px;
	margin: 20px 0;
}

.cell {
	padding: 0;
	margin: 0;
	border: 1.7vh solid #ffffff;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  background-color: #181818;
}

.cell.filled-J1 {
	background-image: url('./assets/circle.png');
}

.cell.filled-J2 {
	background-image: url('./assets/cross.png');
}

.actions {
	flex: 0 0 auto;
	margin: 20px 0;
}

.actions > * {
  margin: 10px 22px;
}

.actions img {
  width: 20px;
}

.replay-button {
	padding: 10px 25px;
	font-size: 2.5rem;
	background-color: #85C3D4;
	color: #181818;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

.step-button {
	padding: 10px 25px;
	font-size: 1.5rem;
	background-color: #D6B07C;
	color: #181818;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

.other-button {
	padding: 3px 5px;
	font-size: 1.5rem;
	background-color: #C3EBA0;
	color: #181818;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.end-message {
	display: none;
	position: fixed;
	top: 40%;
	padding: 10px 15px;
	background-color: #fff;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .25);
	border-radius: 15px;
	font-size: 2.5rem;
}
