body {
  height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin: 0;
	padding: 0;
	font-family: 'Lobster', cursive;
	text-align: center;
  background-color: #bdb5b5b9;
	color: #242424;
}

.title {
	flex: 0 0 auto;
	font-size: 3.2rem;
	margin: 20px 0;
}

.game-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(3, 20vh);
  grid-template-rows: repeat(3, 20vh);
	margin: 20px 0;
}

@media screen and (max-width: 650px) {
  .game-grid {
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(3, 30vw);
  }
}

.cell {
	padding: 0;
	margin: .5vh;
	border: 1vh solid #ffffffe3;
  border-radius: 30px ;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
  background-color: #181818;
}

.cell.filled-J1 {
	background-image: url('./assets/circle.png');
}

.cell.filled-J2 {
	background-image: url('./assets/cross.png');
}

.actions {
	margin: 20px 0;
  display: flex;
  align-items: center;
}

.actions > * {
  margin: 10px 11px;
}

.actions img {
  width: 20px;
}

.replay-button {
	padding: 11px 33px;
	font-size: 1.8rem;
	background-color: #85C3D4;
	color: #181818;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

.step-button {
	padding: 10px 25px;
	font-size: 1.5rem;
	background-color: #D6B07C;
	color: #181818;
	border-radius: 20px;
	border: none;
	cursor: pointer;
}

.other-button {
	padding: 6px 11px;
	font-size: 1.5rem;
	background-color: #C3EBA0;
	color: #181818;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.end-message {
	display: none;
	position: fixed;
	top: 40%;
	padding: 10px 15px;
	background-color: #fff;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .25);
	border-radius: 15px;
	font-size: 2.5rem;
}
